@import url("global.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  --blackColor: #000000;
  --purpleColor: #5e60ce;
  --blueColor: #5390d9;
  --blueGreen: #48bfe3;
  --aquaColor: #64dfdf;
  --greenColor: #80ffdb;
  --whiteColor: #ffffff;
  --grayColor: #f5f5f5;
}

body {
  font-family: "Montserrat";
  background-color: var(--whiteColor);
  width: 100%;
}
/*Header*/
.fa-search,
.fa-user,
.fa-cart-plus {
  color: rgb(85, 150, 207);
  padding: 10px;
  margin-left: 5px;
  margin-right: 0px;
}
/*Header*/

/*formulario*/
.form-user {
  display: flexb;
  flex-direction: column;
  margin: 30px auto;
  width: 400px;
  height: 300px;
  padding: 1em;
  border: 1px solid rgb(8, 8, 8);
  border-radius: 1em;
}

.list-user {
  flex-wrap: wrap;
  display: flex;
  margin: 30px auto;
  width: 100%;
  height: 200px;
  padding: 1em;
  border: 1px solid rgb(8, 8, 8);
  border-radius: 1em;
}
.hidName {
  display: none;
}
.hidEmail {
  display: none;
}
.user-list {
  align-items: flex-start;
  padding-right: 0%;
}
ul {
  font-size: 1rem;
  line-height: 1.5;
}
.control-login {
  margin-top: 5px;
  color: #022355;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.button {
  margin-top: 10px;
  background-color: #093c88;
  color: #ffffff;
  min-width: 100px;
  border: 0;
  line-height: 2.5;
  border-radius: 10px;
}
.texto {
  margin-left: 10px;
}
.user-list {
  padding-bottom: 10px;
}
/* Footer */
.footer {
  width: 100%;
}
.footer-social * {
  padding-left: 10%;
  font-size: 30px;
  color: #ffffff;
}
.termsAndConditions {
  background-color: #000000;
  font-family: Monserrat;
  color: #ffffff;
}
ul {
  display: inline-block;
  padding-right: 50px;
  padding-left: 0px;
  letter-spacing: 0.1em;
  list-style-type: none;
}
.footer-social {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 40px;
  padding-bottom: 20px;
}
.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}
.item-input {
  padding: 8px;
  border-radius: 4px;
  border: solid black 1px;
}
.item-input:focus {
  outline: none;
}
.title-login {
  align-items: center;
  justify-content: space-between;
}
.text-danger {
  color: red;
}
@media (min-width: 768px) {
  body {
    font-family: "Montserrat";
    background-color: var(--whiteColor);
    width: 100%;
  }
  .fa-search,
  .fa-user,
  .fa-cart-plus {
    color: rgb(85, 150, 207);
    width: auto;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  /*Header*/
  header {
    background-color: #000;
  }
  .ss-container {
    width: 50%;
    height: 20px;
    display: flex;
  }
  .cartContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
  }
  .ss-icon {
    margin-left: 5px;
    height: 150px;
    width: 200px;
    background-color: white;
  }
  .ss-nav-bar {
    display: flex;
  }
  .ss-search-bar {
    width: auto;
    height: 30px;
    border-radius: 10px;
    padding-right: 15px;
  }
  .ss-container i {
    padding-right: 15px;
    color: aliceblue;
    letter-spacing: 18px;
  }

  /* Barra de navegacion*/
  .ss-nav-bar {
    background-color: black;
  }
  .ss-nav-bar nav a {
    color: white;
    text-decoration: none;
    padding: 8px 8px;
    font-size: 1rem;
  }
  .ss-nav-bar nav a:hover {
    background-color: white;
    color: darkgray;
    border-radius: 15px;
  }
  .product {
    z-index: 100;
  }
  .termsAndConditions {
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
  }
  .hidName {
    display: none;
  }
  .hidEmail {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .termsAndConditions {
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .list-user {
    margin: 30px auto;
    width: 700px;
    height: auto;
    padding: 1em;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 1em;
  }
  .btn-search {
    float: right;
    height: 20px;
    margin-top: 0px;
    display: flex;
  }
  .btnUser {
    background-color: #093c88;
    color: #ffffff;
    min-width: 120px;
    border: 0;
    border-radius: 10px;
  }
  .inputBus {
    border-radius: 10px;
    border: 5;
    min-width: 200px;
  }
  .hidName {
    display: flex;
  }
}
