@import url("global.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  --blackColor: #000000;
  --purpleColor: #5e60ce;
  --blueColor: #5390d9;
  --blueGreen: #48bfe3;
  --aquaColor: #64dfdf;
  --greenColor: #80ffdb;
  --whiteColor: #ffffff;
  --grayColor: #f5f5f5;
}

body {
  font-family: "Montserrat";
  background-color: var(--whiteColor);
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}
.text-danger {
  color: red;
  border: 1px red solid;
  margin-bottom: 2px;
}
.is-valid{
  color: green;
}
.is-invalid{
  color: red;
  list-style-type: circle;
}

/*Header*/
.fa-search,
.fa-user,
.fa-cart-plus {
  color: rgb(85, 150, 207);
  padding: 10px;
  margin-left: 20px;
  margin-right: 5px;
}
/*Header*/
header {
  background-color: #000;
  height: 200px;
  display: flex;
  align-items: center;
}
.ss-icon {
  margin-left: 50px;
  height: 150px;
  background-color: white;
  width: 50%;
}
.ss-nav-bar {
  display: none;
}

.profileCont {
  display: flex;
}

.profileCont > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profileCont > h2 {
  color: white;
  padding: 10px 0;
  margin-left: 15px;
  margin-right: 15px;
}

.userDropdownRow {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.userDropdown {
  width: 125px;
  position: absolute;
  transform: translate(65px, 45px);
  color: black;
  background-color: white;
  visibility: hidden;
  padding: 10px;
  border-radius: 5px;
  animation: dropdownFadeIn 3s ease 0s 1 normal forwards;
}

.userDropdown ul {
  margin: 0;
  padding: 0;
}

@keyframes liHover {
}

.userDropdown li:hover {
  margin: 0;
  padding: 0;
}

.userDropdown hr {
  margin: 10px 0;
}

.visible {
  visibility: visible;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 65%;
}

.searchBar i {
  position: absolute;
  right: 21%;
}

.ss-container {
  display: flex;
  width: 25%;
  justify-content: right;
  margin-right: 0px;
  padding-right: 30px;
  height: 50px;
  align-items: center;
  background-color: #000;
}

.registerBtn {
  border-radius: 5px;
  padding: 10px;
  border: none;
  text-align: center;
  background: green;
}

@keyframes registerHover {
  0% {
    background-color: #21803a;
  }
  25% {
    background-color: #309c4d;
  }
  50% {
    background-color: #58cc77;
  }
  75% {
    background-color: #76db91;
  }
  100% {
    background-color: #68ed8c;
  }
}

.registerBtn:hover {
  background-color: #68ed8c;
  animation-name: registerHover;
  animation-duration: 0.2s;
}

.loginBtn {
  border-radius: 5px;
  padding: 10px;
  border: none;
  text-align: center;
  background: #5565f2;
}

@keyframes loginHover {
  0% {
    background-color: #5565f2;
  }
  25% {
    background-color: #7784f7;
  }
  50% {
    background-color: #7784f7;
  }
  75% {
    background-color: #858ccc;
  }
  100% {
    background-color: #a9afeb;
  }
}

.loginBtn:hover {
  background-color: #a9afeb;
  animation-name: loginHover;
  animation-duration: 0.1s;
}

.registerBtn > a,
.loginBtn > a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.ss-container > a,
.ss-container > button {
  margin-right: 10px;
}
/* Banner */
.banner {
  width: 100%;
  height: 600px;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-color: #000000;
}
@keyframes banner {
  0%,
  20% {
    background-image: url(../images/banner1.jpeg);
  }
  25%,
  45% {
    background-image: url(../images/banner2.jpeg);
  }
  50%,
  70% {
    background-image: url(../images/banner3.jpeg);
  }
  75%,
  100% {
    background-image: url(../images/banner4.jpeg);
  }
}
.capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.info {
  z-index: 1;
  width: 100%;
  max-width: 500px;
  text-align: center;
  color: #ffffff;
}

.buyPromo {
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #5565f2;
  outline: none;
  border: none;
  margin: 5% auto;
}



/*Productos*/

.content{
  display: flex;
  justify-content: space-between;
}
.alingDescription{
  text-align: justify;
  padding-right: 15px;
}




.cartContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 7%;
  width: 100%;
}

.cartContainer h1 {
  font-weight: 400;
  width: 100%;
  margin: 15px 0 25px;
}

.cartContainer .product {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 35px;
  transition: all ease 0.4s;
  width: 260px;
}

.cartContainer .product .imgContainer img {
  width: 100%;
}


.imgProductDetail{
  width: 600px;
  height: 600px;
}

.cartContainer .product .productInfo .add {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Infografia */
.container .container-info form h2 {
  font-size: 10px;
}
.container {
  background-color: var(--blackColor);
  background-image: url("../images/fondo3.png");
  background-size: 100% 100%;
  padding: 35px 7%;
  width: 100%;
}
.container .container-info form {
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .container-info form button {
  background-color: var(--blueGreen);
  border-radius: 50px;
  border: none;
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 600;
  margin: 15px auto;
  padding: 10px;
  transition: all ease 0.4s;
  width: 200px;
}

/*Container-1 */
.container-1 .container-info form {
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-1 .container-info form h2 {
  font-size: 10px;
}
.container-1 {
  background-color: var(--blackColor);
  background-image: url("../images/fondo3.png");
  background-size: 100% 100%;
  padding: 35px 7%;
  width: 100%;
}
.container-1 .container-info form button {
  background-color: var(--blueGreen);
  border-radius: 50px;
  border: none;
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 600;
  margin: 15px auto;
  padding: 10px;
  transition: all ease 0.4s;
  width: 200px;
  flex-direction: column;
}

/* Container-2 */
.container-2 {
  background-color: var(--blackColor);
  background-image: url("../images/fondo1.png");
  background-size: 100% 100%;
  height: 200px;
  width: 100%;
}

.container-2 .container-info {
  width: 100%;
}

.container-2 .container-info form {
  color: var(--blackColor);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-2 .container-info form button {
  background-color: var(--blueGreen);
  border-radius: 50px;
  border: none;
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 600;
  margin: 15px auto;
  padding: 10px;
  transition: all ease 0.4s;
  width: 200px;
}

.container-2 .container-info form button:hover {
  background-color: var(--aquaColor);
  color: var(--grayColor);
}

.whatsapp {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 500;
}

/* Footer */
.footer {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: 35% 20% 20% 20%;
  column-gap: 20px;
  padding: 10px;
  color: white;
  background-color: black;
}

#description {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

#description > hr {
  margin-bottom: 15px;
  margin-top: 15px;
}

#footerCategories {
  grid-column: 2;
  grid-row: 1/2;
}

#contact {
  grid-column: 3;
  grid-row: 1/2;
}

#socials {
  grid-column: 4;
  grid-row: 1;
}

#socials i {
  font-size: 40px;
  margin-right: 20px;
}

#footerCategories,
#contact {
  font-size: small;
}

#socials a {
  color: white;
}

.facebook {
  margin-bottom: 20px;
}
.verticalCenter {
  display: flex;
  align-items: center;
}

.footer-social * {
  padding-left: 10%;
  font-size: 30px;
  color: #ffffff;
}
.termsAndConditions {
  background-color: #000000;
  font-family: Monserrat;
  color: #ffffff;
  font-size: 8px;
}
ul {
  display: inline-block;
  padding-right: 50px;
  padding-left: 0px;
  letter-spacing: 0.1em;
  list-style-type: none;
}
.footer-social {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 40px;
  padding-bottom: 20px;
}

.promoContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30vh 30vh;
}

#product1 {
  grid-column: 1;
  grid-row: 1;
  background-image: url("../images/fondo1.png");
  color: white;
  justify-content: flex-end;
}

.promoInfo {
  width: 40%;
}

.promoInfo h2 {
  font-style: italic;
  margin-bottom: 15px;
}

#product2 {
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
  background-image: url("../images/fondo2.jpeg");
  color: white;
}

#product3 {
  grid-column: 1/3;
  grid-row: 2;
  justify-content: flex-start;
  background-image: url("../images/fondo3.png");
  color: black;
}

#product3 .promoInfo {
  margin-left: 5%;
}

@media (min-width: 768px) {
  body {
    font-family: "Montserrat";
    background-color: var(--whiteColor);
    width: 100%;
  }
  /*Header*/
  header {
    background-color: #000;
  }
  .ss-container {
    height: auto;
    display: flex;
  }
  .cartContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ss-icon {
    margin-left: 5px;
    height: 150px;
    width: 200px;
    background-color: white;
  }
  .ss-nav-bar {
    display: flex;
    width: 100%;
    background-color: red;
  }
  .ss-search-bar {
    width: 60%;
    height: 50px;
    padding-left: 20px;
    border-radius: 10px;
    padding-right: 15px;
    outline: none;
    border: none;
  }
  .ss-container i {
    padding-right: 15px;
    color: aliceblue;
    letter-spacing: 18px;
  }

  /* Barra de navegacion*/
  .ss-nav-bar {
    background-color: black;
    height: 5vh;
  }
  .ss-nav-bar nav {
    padding: 10px 0;
    margin-left: 2vw;
  }
  .ss-nav-bar nav ul {
    display: flex;
    padding: 0;
  }
  .ss-nav-bar nav ul > li {
    margin-right: 20px;
  }
  .ss-nav-bar nav a {
    color: white;
    text-decoration: none;
    padding: 8px 8px;
    font-size: 1rem;
  }

  @keyframes navHover {
    0% {
      background-color: black;
      color: white;
    }
    25% {
      background-color: black;
      color: white;
    }
    50% {
      background-color: gray;
      color: white;
    }
    75% {
      background-color: gainsboro;
      color: white;
    }
    100% {
      background-color: white;
      color: black;
    }
  }
  .ss-nav-bar nav a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    animation-name: navHover;
    animation-duration: 0.2s;
  }

  .product {
    z-index: 100;
  }
  .termsAndConditions {
    align-items: stretch;
    padding-left: 100px;
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  .termsAndConditions {
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 10px;
  }
}
