<!DOCTYPE html>
<html lang="en"> 

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/listaCategorias.css" />
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/asideAdmin.css">
  <script src="https://kit.fontawesome.com/e00c988d1a.js" crossorigin="anonymous"></script>
  <title>add Categgory</title>
</head>

<body>
  <%- include ('../../partials/header') %>
  <div class="flexBoxBrands">
    <%- include ('../../partials/asideAdmin') %>
  <main>
    <div class="main-top">
      <h1>New Categgory</h1>
    </div>
    <div class="main-bottom">
      <form action="/type/create" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" />
        <br/>
        <small class="msj_error"></small>
        <div class="from-bottom">
          <button type="submit">Guardar</button>
          <button type="reset">Cancelar</button>
        </div>
      </form>
    </div>
  </main>
  </div>
  <script src="/js/brandsValidations.js"></script>
  <%- include('../../partials/footer')%>
</body>

</html>