<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/listaCategorias.css" />
    <script src="https://kit.fontawesome.com/e00c988d1a.js" crossorigin="anonymous"></script>
    <title>Detalle de la Categoría de Productos</title>
</head>

<body>
    <main>
        <div class="main-top">
            <h1>Detalle Categoría Produto<%= category.name %>
            </h1>
        </div>
        <div class="main-bottom">
            <form action="/category/edit/<%= category.id%>?_method=PUT" method="POST">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" value="<%= category.name %>" />
                <div class="from-bottom">
                    <button type="submit">Guardar</button>
                    <button>Cancelar</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>