
<div class="asideAdmin">
    <div class="asideAdminContainer">
        
    <div class="AdminBlock">
        <a href="/brands/list">Brands</a>
    </div>
    <div class="AdminBlock">
        <a href="/type/list">Types Users</a>
    </div>
    <div class="AdminBlock">
        <a href="/listProductAdmin">Admin Products</a>
    </div>
    <div class="AdminBlock">
        <a href="/newProduct">New products</a> 
    </div >
    <div class="AdminBlock">
        <a href="/category/list">Category</a>
    </div>   
    </div>
</div>