
<div class="asideAdmin">
    <div class="asideAdminContainer">
        
    <div class="AdminBlock">
        <a href="/brands/list">Brands</a>
    </div>
    <div class="AdminBlock">
        <a href="/type/list">Types Users</a>
    </div>
    <div class="AdminBlock">
        <a href="/listProducts">List Products</a>
        <a href="/newProduct">New products</a> 
    </div>
    <div class="AdminBlock">
        <a href="/category/list">Category</a>
    </div>
    <div class="AdminBlock">
        <a href="/user/list">Users</a>
    </div>
    </div>
</div>