<footer class="footer">
  <div class="footer-start">
    <div class="footer-social">
      <a href="https://es-la.facebook.com/">
        <i class="fab fa-facebook"></i>
      </a>

      <a href="https://www.instagram.com/">
        <i class="fab fa-instagram-square"></i>
      </a>

      <a href="https://web.whatsapp.com/">
        <i class="fab fa-whatsapp-square"></i>
      </a>
    </div>

    <div class="termsAndConditions">
      <ul class="first">
        <li>Sistemas de audio para vehículos</li>
        <li>Parlantes para exteriores</li>
        <li>Sistemas profesionales</li>
        <li>Dispositivos para el gimnasio</li>
        <li>Dispositivos para el trabajo</li>
      </ul>
      <ul class="second">
        <li>Soporte</li>
        <li>Comunicate con nosotros</li>
        <li>Donde estamos úbicados</li>
        <li>Acerca de nosotros</li>
        <li>Trabaja con nosotros</li>
      </ul>
      <ul class="third">
        <li>Políticas de privacidad</li>
        <li>Términos y condiciones</li>
        <li>Aviso de cookies</li>
      </ul>
    </div>
  </div>
</footer>
