<footer class="footer">

  <div id="description">
    <h2>About</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Veniam aspernatur nulla voluptatem expedita. Laborum doloremque fugit incidunt eos accusamus fuga minima labore,
      est aliquam possimus eveniet esse eius dolores quia.</p>
  </div>
  <div id="footerCategories" class="verticalCenter">
    <ul>
      <li>Sistemas de audio para vehículos</li>
      <li>Parlantes para exteriores</li>
      <li>Sistemas profesionales</li>
      <li>Dispositivos para el gimnasio</li>
      <li>Dispositivos para el trabajo</li>
    </ul>
  </div>
  <div id="contact" class="verticalCenter">
    <ul>
      <li>Soporte</li>
      <li>Comunicate con nosotros</li>
      <li>Donde estamos úbicados</li>
      <li>Acerca de nosotros</li>
      <li>Trabaja con nosotros</li>
    </ul>
  </div>
  <div id="socials" class="verticalCenter">
    <div class="socialLinks">
      <div class="facebook verticalCenter">
        <i class="fab fa-facebook"></i>
        <a href="https://es-la.facebook.com/">Facebook</a>
      </div>
      <div class="instagram verticalCenter">
        <i class="fab fa-instagram-square"></i>
        <a href="https://www.instagram.com/">Instagram</a>
      </div>
    </div>
  </div>
</footer>