<header>
  <a href="/"
    ><img src="/images/logo-SoundSystem.jpeg" alt="" class="ss-icon"
  /></a>
  <div class="searchBar">
    <input type="search" placeholder="Search" class="ss-search-bar" />
    <i class="fa fa-search"></i>
  </div>
  <div class="ss-container">
    <a href="#"><i class="fa fa-cart-plus"></i></a>

    <% if (locals.isLogged) { %>
    <div class="profileCont">
      <img
        src="/images/avatar/<%= locals.userLogged.avatar %>"
        alt=""
        class="ss-icon"
      />
      <h2><%= locals.userLogged.fullName %></h2>
      <button
        class="userDropdownRow"
        onclick="function toggleVisible(){let dropdown = document.getElementById('dropdown');dropdown.classList.toggle('visible')};toggleVisible()"
      >
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <div class="userDropdown" id="dropdown">
        <ul>
          <li><a href="/users/profile"> My profile</a></li>
          <hr />
          <li><a href="/users/logout"> Logout</a></li>
        </ul>
      </div>
    </div>
    > <% } else { %>
    <button class="registerBtn">
      <a href="/users/register" class="register">Register</a>
    </button>
    <button class="loginBtn">
      <a href="/users/login" class="login">Login</a>
    </button>
    <% } %>
  </div>
</header>
<div class="ss-nav-bar">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <!--<li><a href="/newProduct">New products</a></li>-->
      <li><a href="/listProducts">Product List</a></li>
      <li><a href="/headPhones">Headphones</a></li>
      <li><a href="/speakers">Speaker</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </nav>
</div>
