<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/listaCategorias.css" />
  <script src="https://kit.fontawesome.com/e00c988d1a.js" crossorigin="anonymous"></script>
  <title>Detail Brands</title>
</head>

<body>
  <main>
    <div class="main-top">
      <h1>Detail Brands<%= brand.name %>
      </h1>
    </div>
    <div class="main-bottom">
      <form action="/brands/edit/<%= brand.id%>?_method=PUT" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="<%=brand.name %>" />
        <div class="from-bottom">
          <button type="submit">Guardar</button>
          <button type="reset">Cancelar</button>
        </div>
      </form>
    </div> 
  </main>
</body>

</html>